h2, h3, h4 {
 text-align: center;
}

form {
  max-width: 900px;
  display: block;
  margin: auto;
}
.banner{
  height: 55vh;
  background-image: url("https://farm4.static.flickr.com/3877/14623727023_ec7fd2dd91_b.jpg");
  background-size: cover;
  background-position: center;
}
.newRecipeDiv{
  margin-top: 20%;
}
.selectType {
  max-width: 40%;
  margin: auto;

}


.aboutDiv em{
  font-size: 18px;
}
.aboutDiv {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  min-height: 600px;
}
 h1{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3.5em;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}

body{
  max-width: 1200px;
  margin: auto;
}
#abvH4{
  text-align: left;
}
