h2, h3, h4 {
 text-align: center;
}
.well {
  z-index: 100 !important;
}

select{
  background-color: black !important;
  border: 1px solid black !important;
  color: #c39449 !important;
}

.opt{
  background-color: red !important;
  color: gold !important;
}

form {
  max-width: 900px;
  display: block;
  margin: auto;
}
.banner{
  height: 55vh;
  background-image: url("https://farm4.static.flickr.com/3877/14623727023_ec7fd2dd91_b.jpg");
  background-size: cover;
  background-position: center;
}
.newRecipeDiv{
  margin-top: 20%;
}
.selectType {
  max-width: 40%;
  margin: auto;

}


.aboutDiv em{
  font-size: 18px;
}
.aboutDiv {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  min-height: 600px;
}
 h1{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3.5em;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}

body{
  max-width: 1200px;
  margin: auto;
  background-color:#222;
  background-image:radial-gradient(50% 50%,#333,#111);
}
#abvH4{
  text-align: left;
}

#editKegForm, #addNewForm {
  color: white;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 15%;
  top: 15%;
  height: 70%;
  width: 70%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  margin: auto;
}
#editKegForm button {
  color: black;
}
/*nav*/

#menuDiv{
  margin-top: 20px;
  text-align:center;
  background-position:50% 50%;
}
#menuDiv:before {
	display: inline-block;
	vertical-align: middle;
}

#menu{
  text-align:center;

	display: inline-block;
  height:135px;
  width:80%;
	vertical-align: middle;
  white-space: nowrap;
}
#menu li {
position: relative;
z-index: 2;
display: block;
float: left;
width: 15%;
height: 135px;
line-height: 220px;
margin-right: 1.42857%;
white-space: nowrap;
background-position: 50%;
}
.rocket {
background: url('https://image.ibb.co/kM3VY5/foot.png')no-repeat;
margin-left: 1.42857%;
}
.wine{
  background:url('http://one-div.com/codepen/menu/wine-large.png')no-repeat;
}
.burger{
  background:url('http://one-div.com/codepen/menu/burger-large.png')no-repeat;
}
.comment{
  background:url('http://one-div.com/codepen/menu/comment-large.png')no-repeat;

}
.sport{
  background:url('http://one-div.com/codepen/menu/sport-large.png')no-repeat;

}
.earth{
  background:url('http://one-div.com/codepen/menu/earth-large.png')no-repeat;
}
#menu ul{
  position:relative;
}
#menu ul:after{
  content:"";
  display:block;
  clear:both;
}
#menu a{
  color:#D8D8D8;
  text-decoration:none;
  display:block;
  width:100%;
  height:100%;
  text-shadow: 0 -1px 0 #000;
}
#menu li:after {
content: "";
width: 9.5238%;
height: 100%;
position: absolute;
top: 0;
right: -9.5238%;
background: url('http://one-div.com/codepen/menu/menu-bg.png');
}
.rocket:before {
content: "";
width: 9.5238%;
height: 100%;
position: absolute;
top: 0;
left: -9.5238%;
background: url('http://one-div.com/codepen/menu/menu-bg.png');
border-radius: 5px 0px 0px 5px;
}
.earth:after{
  border-radius:0px 5px 5px 0px;
}
.current{
  position:absolute;
  top:-13px;
  left:8.92857%;
  margin-left: -49px;
  width:95px;
  height:165px;
  -webkit-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
-moz-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
-o-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
-ms-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
transition: all 400ms cubic-bezier(.16,1.23,.87,1.18);
}
.current-back{
  width:143%;
  height:100%;
  position:absolute;
  background:#c39449;
  border-radius:5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  border-top: 2px solid rgba(255,255,255,0.1);
}
.top-arrow{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:12px;
  top:13px;
  left:0;
  z-index:2;
}
.top-arrow:before{
  content:"";
  position:absolute;
  width:80%;
  height:10px;
  top:-10px;
  left:10%;
  border-radius:20%;
  box-shadow:0 0 10px black;
}
.top-arrow:after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  top:0px;
  border-top:8px solid #c39449;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  margin-left:-6px;
  left:50%;
}

.bottom-arrow{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:12px;
  bottom:17px;
  left:0;
  z-index:2;
}
.bottom-arrow:before{
  content:"";
  position:absolute;
  width:80%;
  height:10px;
  bottom:-10px;
  left:10%;
  border-radius:20%;
  box-shadow:0 0 10px black;
}
.bottom-arrow:after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  bottom:0;
  border-bottom:12px solid #c39449;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  margin-left:-8px;
  left:50%;
}

.wine:hover ~ .current{
  left: 25.5%;
}
.burger:hover ~ .current{
 left: 42%;
}
.comment:hover ~ .current{
   left: 58.5%;
}
.sport:hover ~ .current{
  left: 75%;
}
.earth:hover ~ .current{
  left: 91.1%;
}

/*flip stuff */


* {
  box-sizing: border-box;
}

.hover-fold {
  background: #c39449;
  border: 5px black solid;
  height: 390px;
  /*margin: auto;*/
  -moz-perspective: 1500;
  -webkit-perspective: 1500;
  perspective: 1500;
  position: relative;
  width: 390px;
}
.hover-fold h2 {
  border-bottom: 1px solid #333;
  /*margin: 0 40px;*/
  padding: 110px 0 2px;
}
.hover-fold .top {
  height: 40%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.hover-fold .top .face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.hover-fold:hover .top {
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.hover-fold .front {
  height: 100%;
  /*has to be 100% of .top */
  width: 100%;
}
.hover-fold .back {
  background: #c39449;
  height: 100%;
  /*has to be 100% of .top */
  padding: 20px 20px;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
}
.hover-fold .back p {
  margin: 0;
}
.hover-fold .bottom {
  height: 40%;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 0;
}
.cards, .col-md-4{
  margin-top: 0px !important;
  margin-bottom: 0px !important ;
}
.cardButtonRow{
padding: 20px;
}
